name: migrate

on:
  push:
    branches:
      - main
    paths:
      - "supabase/migrations/**"

jobs:
  migrate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD }}
      SUPABASE_REF: ${{ secrets.SUPABASE_REF }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Supabase CLI
        uses: supabase/setup-cli@v1
        with:
          version: latest

      - name: Login to Supabase
        run: supabase login --token "$SUPABASE_ACCESS_TOKEN"

      - name: Link Supabase project
        run: supabase link --project-ref "$SUPABASE_REF"

      - name: Push database migrations
        run: supabase db push --linked --debug --non-interactive
